body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 852px;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 30px;
}

@font-face {
    font-family: "timer-font";
    src: url("./globalcomponents/timercomp/digital-7.ttf") format("truetype");
}